p A new item has been uploaded to Re-Product
p
  strong Uploader name: #{uploaderName}
p
  strong Uploader email: #{uploaderEmail}
p
  strong Preview item: 
  a(href=`${previewURL}`)= previewURL
p
  strong Approve item: 
  a(href=`${approveURL}`)= approveURL