extends email-layout

block content
  h1 Hi #{user.name},
  p you have requested a password reset on Re-Product. Please, click the following button below to continue on with resetting your password.
  p Please note, that this link is only valid for 1 hour.
  +button(resetURL, '👉 Reset Password')
  p If you can't click the button above, please, visit the following link in your browser: 
  a(href=`${resetURL}`)= resetURL

block footer
  p.footer-legal If you didn't request this email, please let us know.