extends layout

block content
  .container--mid
    #about-page
      h1 About Re-Product
  
      p Re-Product came to life as the result of 
        a(href='https://fixathon.io/' target='_blank')
          span(role='image' aria-label='earth icon') 🌍 
          | Fixathon - The world's first online hackathon to help fix the climate 
        | to become the number one open market where you can trade with your used or new stuff without involving real money to the process.

      p I beleive that there are a huge amount of stuff you keep in your drawer, or in a cabinet in your basement that would end up in the trash. I'm also sure that those items would be useful for someone else. So why don't you "give" it to them?

      p By "giving away" these items you'll keep them circulating until they really became trash. But this could take years.

      p Spend a few hours taking a look around in your room or apartment, I'm sure you'll find something you can add to Re-Product.

      p Reduce your waist, re-product your stuff.

      p 
        strong 
          a(href='https://feriforgacs.me' target='_blank') Ferenc 
        | from Re-Product.
      