extends layout

block content
  .container--mid
    #confirmed-page
      h1= title
      p With a confirmed account, you can start 
        a(href='/item/add') creating items 
        | or send requests for  
        a(href='/items') items 
        | uploaded by other Re-Producters. You already have 10 coins in your wallet to spend 
        span(role='img' aria-label='Money-Mouth Face') 🤑
      p But before that, make sure that you add a short about section and public contact information to 
        a(href='/account') your account 
        | so other Re-Producters can learn a bit more about you and this could help them to decide if they should choose you to re-use their items.
      p Don't worry, this information is only visible to the registered and confirmed members of the platform.

      p Thank you for decreasing trash by using Re-Product 
        span(aria-label="hugging face") 🤗