extends layout

block content
  .container--mid
    #confirmed-page
      h1= title
      p Now that your profile is confirmed, you can start 
        a(href='/item/add' target='_blank') creating items 
        | or send requests for  
        a(href='/items' target='_blank') items 
        | uploaded by other Re-Producters. You already have 10 coins in your wallet to spend 
        span(role='img' aria-label='wink') 😉
      p But before that, make sure that you add a short about section and public contact information to 
        a(href='/account' target='_blank') your account 
        | so other Re-Producters can learn a bit more about you and this could help them to decide if they should choose you to re-use their items.
      p Don't worry, this information is only visible to the registered and confirmed members of the platform.

      p Thank you for decreasing the amount of trash by using Re-Product 
        span(aria-label="hugging face") 🤗