extends layout

include mixins/_itemCard

block content
  #homepage
    
    h1= title

    #homepage__hero
      .container
        .image
          img(src='/images/hero-image-header.jpg' alt='Hero Image Illustration')
        .content
          h2 Trash for you?
          h3 Could be a treasure for someone else.
            br
            | Re-Product your "useless" goods.
          a.button.button--hero(href='/learn-more') Learn More

    #homepage__products
      .section__header
        h3 Latest Re-Products
      .item-list
        each item in items
          +itemCard(item)

      .section__footer
        a(href='/items') View all Re-Products...

    #homepage__bottom-hero
      .container
        .content
          h3 Protect the environment 
            br
            | by becoming a Re-Producter today.

          .actions
            a.button.button--hero(href='/learn-more') Learn More
            span Or
            a.button.button--hero--inverse(href='/register') Sign Up

        .image
          img(src='/images/hero-image-footer.jpg' alt='Hero Image Footer Illustration')