extends layout

block content
  .container--mid
    #learnmore-page
      h1= title

      p Re-Product is an online market where you can trade with your used or new stuff without involving real money to the process.
      p
        strong Why?
      p To reduce your waist and by that take your part to help to fix the climate.

      h3 How does it work?

      p After you created and confirmed your profile, you can start to upload the items you think could be useful for someone else. This could be a book, an old phone, clothes, furnitures, etc. Basically almost everíthing.
      p When you are creating an item you should add a price to it but this is just a virtual price with virtual coins. You can also upload items for free. It's up to you.

      p After you uploaded your item, there is a short approval process (24-48 hours). During that, your item won't be visible to others. Only you and an administrator can see it and you'll also have the possibility to edit the details of your item. When it's live you can't change those settings anymore. So be thoughtful.

      h3 What happens with your approved items?
      p Your approved items become visible on the platform, under the specified category and other users of Re-Product can send requests for that item.
      p You can accept one from those requests and the chosen one will be the happy "winner" of your item.
      p It's totally up to you who you'll chose from the requesters but the message they have to add to their requests could help you to decide.
      p After you accepted the request, the platform will do the necessary coin transactions.
      p Make sure that you are using a live email address for your profile as the system will send you email notifications when your item become approved, when someone requests your item and also after you accepted a request.
      p If you'd like to buy an item, the process is the same but from the other side.
      p You send a request to the seller, the seller accepts your request and everyone is happy 
        span(role='img' aria-label='smile') 😊

      h3 How to price your items?
      p Well, it's up to you. The virtual coins don't have real value.
      p After you create a profile you'll automatially get 10 coins that you can use to "buy" an item. So if you'd like to give away something that you think is more valuable, make sure that you give it a price that is more than 10 coins
        span(role='img' aria-label='smile') 😊

      h3 Ready to get started?
      
      ul
        li
          a(href='/register') Create your profile
        li
          a(href='/item/add') Create an item
        li
          a(href='/items') View items creatd by other Re-Producters

      h3 Have some questions?
      p Couldn't find what you are looking for? Don't hesitate to 
        a(href='/contact') get in touch.