extends layout

block content
  .container--small#profile-page
    img(src=`${user.gravatar}`)#profile-page__avatar
    
    h1= user.name

    h3 About
    p#profile-page__bio= user.userBio

    h3 Contact information
    p#profile-page__contact= user.userContact
