mixin forgotForm()
  .form-info
    p No worries. Add your email below and we'll send you a link to set up a new password.
  form(method='POST' action='/account/forgot')#form-forgot
    .form-group
      label(for='email') Email address
      input(type='email' name='email' required)

    .form-group
      button(type='submit').button.button--primary Send password reset email
        i.hidden
          != h.icon('spin')