mixin itemCard(item = {})
  .item-card
    h3.item-name= item.itemName
    p.item-description= item.itemDescription
    .item-actions
      a.view-item(target='_blank' href=`/item/${item.itemSlug}`) View item details