.button{
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: 450px;
  font-weight: bold;
  height: auto;
  line-height: 3rem;
  margin: 0 auto;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 1rem;

  &--primary{
    color: #fff;
    background-color: $primaryColor;

    &:hover{
      background-color: #099B81;
    }
  }

  &--secondary{
    color: $primaryColor;
    border: 1px solid $primaryColor;

    &:hover{
      background-color: #f7f7f7;
    }
  }

  &--small{
    height: 2rem;
    line-height: 2rem;
    font-size: .7rem;
  }

  &:disabled, &[disabled]{
    opacity: .5;
  }
}