.container{
  width: 90%;
  max-width: 960px;
  margin: 0 auto;

  &--mid{
    width: 90%;
    max-width: 620px;
    margin: 0 auto;
  }

  &--small{
    width: 90%;
    max-width: 420px;
    margin: 0 auto;
  }
}

.hidden{
  display: none;
}