/**
 * Created items
 */ 

#created-items, #requested-items, #latest-items, #search-result {
  padding-bottom: 4rem;
  min-height: 400px;

  .item-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.item-card{
  background: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 290px;
  margin: 0 .5rem 2rem;

  &__name{
    margin: 0;
    padding: 0 .5rem;
    height: 3rem;
    line-height: 3rem;
    font-size: .8rem;
    font-family: $paytone;
    overflow: hidden;

    a{
      color: #555;
    }
  }

  &__image{
    width: 290px;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
    overflow: hidden;
  }

  &__description{
    font-size: .7rem;
    margin: .5rem 1rem;
    padding: 0;
    display: block;
  }

  &__actions{
    display: flex;
    border-top: 1px solid #eee;
    padding: .3rem 0;

    .view-item{
      flex: 50%;
    }
  }

  &__price{
    padding: 0;
    margin: 0;
    flex: 50%;
    text-align: center;
    font-size: .7rem;
    display: block;
    height: 2rem;
    line-height: 2rem;
  }

  &__status{
    text-align: center;
    border-top: 1px solid #eee;
    height: 3rem;
    line-height: 3rem;
    font-size: .7rem;
    background: #ffffa8;
    border-bottom: 1px solid #eee;
  }

  &__request-date{
    font-size: .7rem;
    text-align: center;
    padding: .5rem 0;
    font-style: italic;
    color: #888;
  }
}