.mobile-navigation-visible #mobile-navigation{
  display: block;
}

#mobile-navigation{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background: #fff;
  padding: 0 1rem;
  z-index: 2000;

  display: none;

  .navigation__list{
    height: auto;
    flex-wrap: wrap;
  }

  #mobile-logo{
    font-weight: bold;
    padding: 0;
    font-family: $paytone;
    flex: 100%;
    border-bottom: 2px solid #13B296;
    display: flex;

    & .navigation__link {
      color: $primaryColor;
      font-size: 1.3rem;
      flex: 10;
    }

    & button{
      flex: 1;
      color: #13B296;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  #mobile-search-item{
    flex: 100%;

    #mobile-search-form{
      display: flex;
      margin: 1rem 0;
      width: 100%;
    }

    input{
      border: none;
      box-shadow: 0 1px 0 #ccc;
      line-height: 2rem;
      color: #888;
      font-size: .8rem;
      width: calc(100% - 27px);
    }

    &__submit{
      border: none;
      margin-bottom: -10px;
      margin-left: 2px;
      cursor: pointer;
      background: none;
    }
  }

  #mobile-categories{
    flex: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid #eee;

    &-dropdown__list{
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      .categories-dropdown__item{
        text-align: left;
        border-bottom: 1px solid #eee;

        .categories-dropdown__link{
          color: #13B296;
          font-size: .8rem;
        }
      }
    }
  }

  #mobile-login-item{
    flex: 1;
    margin: 1rem 1rem 0 0;
  }

  #mobile-signup-item{
    flex: 1;
    margin: 1rem 0 0 1rem;
  }

  #mobile-profile{
    flex: calc(50% - 1rem);
    padding: 0;
    justify-content: flex-end;
    font-size: .7rem;
    font-weight: bold;
    color: $primaryColor;
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 1rem;
  
    .profile{
      &__name{
        line-height: 150%;
      }
    }

    &__link{
      display: flex;
      align-items: center;
      max-width: 210px;
    }
  }

  #mobile-add-item{
    flex: calc(50% - 1rem);
    margin-right: 1rem;
    margin-top: 1rem;
  }

  #mobile-profile__dropdown{
    font-size: .8rem;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    
    a {
      padding: .5rem .2rem;
      border-bottom: 1px solid #eee;
      width: 100%;
    }

    a:nth-child(1){
      border-top: 1px solid #eee;
      margin-top: 1rem;
    }
  }
}

@media only screen and (max-width: $laptop){
  #category-item, #category, #search-item, #add-item, #profile{
    display: none;
  }

  #mobile-navigation-open{
    flex: 2;
    font-size: 2.5rem;
    text-align: right;
    padding-right: 1rem;

    button{
      color: $primaryColor;
    }
  }

  #homepage__hero .container, #homepage__products .item-list, #homepage__bottom-hero .container{
    flex-direction: column;
    align-items: center;
  }

  #homepage__bottom-hero .container .content .actions{
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  footer .footer__content{
    flex-direction: column;
  }

  footer .footer__navigation ul{
    flex-direction: column;
    align-items: center;
    line-height: 2.5rem;
  }
}

@media only screen and (min-width: $laptop){
  #mobile-navigation-open{
    display: none;
  }
}