#orders__buyer, #orders__seller{
  margin: 3rem 0;

  h2{
    margin: 0 0 2rem;
    padding: 0;
    font-size: 1.5rem;
  }

  table {
    font-size: .6rem;
    border-spacing: 0;
  }

  thead{
    background: #eee;
  }
}