#orders {
  padding-bottom: 4rem;
  min-height: 400px;
}

#orders__buyer, #orders__seller, #item-requests{
  margin: 3rem 0;

  h2{
    margin: 0 0 2rem;
    padding: 0;
    font-size: 1.5rem;
  }

  table {
    font-size: .6rem;
    border-spacing: 0;
  }

  thead{
    background: #eee;
  }

  .unread{
    font-weight: bold;
    font-size: .65rem;
  }

  .read{
    opacity: .8;
  }

  .accepted{
    td{
      background: #e5fff0;
    }

    td:nth-child(1){
      border-left: 5px solid #008013;
    }
  }
}