#profile-page{
  h1{
    text-align: center;
    margin: 1rem auto 2rem;
    padding: 0 0 2rem;
    border-bottom: 1px solid #eee;
  }

  h3{
    margin: 1rem 0;
  }

  &__avatar{
    margin: 3rem auto 0;
    display: block;
    border-radius: 50px;
  }

  &__bio{
    padding: 0 0 2rem;
    border-bottom: 1px solid #eee;
    margin: 0 0 2rem;
    white-space: pre-wrap;
  }

  &__contact{
    padding: 0 0 2rem;
    border-bottom: 1px solid #eee;
    margin: 0 0 2rem;
    white-space: pre-wrap;
  }


}